---
layout: page
#title: News
tagline:
---

{% for post in site.posts limit:10%}
<div id="post">
  
  <h2>
    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
  </h2>
      
  <div class="row-fluid">
    <div class="span9" style="text-align: justify">
      {{ post.content }}
    </div>
      
    <div class="span3">
      <p>
        <span><i class="icon-time"></i>&nbsp;{{ post.date | date:"%B %e, %Y" }}</span>
      </p>
      <p>
        <div class="comments-heading">
          <span><i class="icon-comment"></i>&nbsp;<a href="{{ site.url }}{{ post.url }}#disqus_thread">Comments</a></span>
        </div>
      </p>
      <p>
      {% unless post.tags == empty %}
        <ul class="tag_box inline">
          {% assign tags_list = post.tags %}
          {% include JB/tags_list %}
        </ul>
      {% endunless %} 
      </p>
      {% for auth in post.author %}
        {% assign author = site.authors[auth] %}
        
        <div class="media">
          <h4 class="media-heading">{{author.name}}</h4>
          <a class="pull-left" href="#">
            <img class="media-object img-circle" style="width:60px" src="http://en.gravatar.com/avatar/{{author.gravatar}}&amp;size=60">
          </a>
          <div class="media-body">
            <h5 class="media-heading">{{author.company}}</h5>
            <li><a href="http://github.com/{{author.github}}">Github</a></li>
            <li><a href="http://twitter.com/{{author.twitter}}">Twitter</a></li>
          </div>
        </div>
      {% endfor %}
    </div>      
  </div>
  
  <div class="row-fluid">
    <div class="span9 social-buttons">
      <a href="http://twitter.com/share" class="twitter-share-button" data-via="{{ site.twitter }}" data-text="{{page.title}}" data-url="{{site.production_url}}{{page.url}}" data-lang="en">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <g:plusone size="medium" data-href="{{site.production_url}}{{page.url}}"></g:plusone>
    </div>
  </div>

</div>


{% endfor %}

<p>
  <a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archives</a>
</p>

<script>
  {% if site.safe == false %}var disqus_developer = 1;{% endif %}
  var disqus_shortname = '{{ site.JB.comments.disqus.short_name }}';
  var disqus_url = '{{site.production_url}}{{page.url}}/';
  {% if page.wordpress_id %}var disqus_identifier = '{{page.wordpress_id}} {{site.production_url}}/?p={{page.wordpress_id}}';{% endif %}
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
     var s = document.createElement('script'); s.async = true;
     s.type = 'text/javascript';
     s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
     (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
   }());
</script>