<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.title }}</title>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
{% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta name="twitter:description" content="{{ page.description }}">
{% endif %}
{% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}" />
{% endif %}
    <meta name="author" content="OW2 Play">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="publisher" href="https://plus.google.com/{{site.gplus}}">
    <meta name="twitter:site" content="@{{ site.twitter }}">
{% for auth in page.author %}
  {% assign author = site.authors[auth] %}
    <link rel="author" href="https://plus.google.com/{{author.gplus}}" />
    <meta name="twitter:creator" content="@{{ author.twitter }}">
{% endfor %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/assets/css/schema.css" rel="stylesheet" media="all" type="text/css">
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/prettify.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/bootstrap/css/ow2-main.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png">
  
    <script src="{{ ASSET_PATH }}/js/jquery-1.7.2.min.js"></script>
  </head>

  <body style="padding-top: 150px;">
    
  
  <div class="navbar navbar-fixed-top">
    <div class="ow2-banner">
      <img src="/assets/images/banner.jpg"> 
    </div>
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="{{site.production_url}}">{{ site.title }}</a>
          <ul class="nav">
            <!--<li><a href="{{site.production_url}}/news.html">News</a></li>-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Components <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{site.production_url}}/pages/components/adaptationrecommendation.html">Adaptation Recommendation</a></li>
                <li><a href="{{site.production_url}}/pages/components/analyticsengine.html">Analytics Engine</a></li>
                <li><a href="{{site.production_url}}/pages/components/businessmonitoring.html">Business Monitoring</a></li>
                <li><a href="{{site.production_url}}/pages/components/communications.html">Communications</a></li>
                <li><a href="{{site.production_url}}/pages/components/elasticstorage.html">Elastic Storage</a></li>
                <li><a href="{{site.production_url}}/pages/components/eventrecommendation.html">Event Recommendation</a></li>
                <li><a href="{{site.production_url}}/pages/components/platformgovernance.html">Platform Governance</a></li>
                <li><a href="{{site.production_url}}/pages/components/restapi.html">REST API</a></li>
                <li><a href="{{site.production_url}}/pages/components/serviceintegration.html">Service Integration</a></li>
                <li><a href="{{site.production_url}}/pages/components/socialconnectors.html">Social Connectors</a></li>
                <li><a href="{{site.production_url}}/pages/components/technicalmonitoring.html">Technical Monitoring</a></li>
                <li><a href="{{site.production_url}}/pages/components/telcoconnectors.html">Telco Connectors</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Developers <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a target="_blank" href="{{site.sources_url}}">Sources</a></li>
                <li><a target="_blank" href="{{site.wiki_url}}">Wiki</a></li>
                <li><a target="_blank" href="{{site.issues_url}}">Issues</a></li>
                <li><a target="_blank" href="{{site.mailinglist_url}}">Mailing List</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a target="_blank" href="{{site.sources_url}}">Github</a></li>
				<li><a target="_blank" ref="#">Achive File</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://ow2.org" target="_blank">OW2.org</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{site.production_url}}/members.html">Members</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
  </div>

  <div class="container-fluid" width="1000">
    <div class="row-fluid">
      <div class="span9">
        {{ content }}
      </div>
    
      <div class="span3">
        <a class="twitter-timeline" href="https://twitter.com/play_fp7" data-widget-id="303442424771002368">Tweets by @play_fp7</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  
    <hr>

    <footer id="footer">
      <p class="pull-right"><a href="#top">Back to top</a></p>
      <a target="_blank" href="https://github.com/play-project/play.ow2.org">Sources</a> of this website are licensed under the <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.<br/>
      Built with <a target="_blank" href="http://twitter.github.com/bootstrap/">Bootstrap</a> and <a target="_blank" href="http://jekyllrb.com">Jekyll</a>. Hosted on <a target="_blank" href="http://pages.github.com/">GitHub</a>.</p>
    </footer>
   
  </div>

    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/prettify.js"></script>
    <script>
      $(document).ready(function() {
        $("pre:not(.raw)").addClass("prettyprint");
        prettyPrint();
      });
      
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      
      window.___gcfg = {lang: 'fr'};
      (function() {
        var po = document.createElement('script'); 
        po.type = 'text/javascript'; 
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; 
        s.parentNode.insertBefore(po, s);
      })();
	</script>
    {% include JB/analytics %}
  </body>
</html>