---
layout: page
title: Business Monitoring
tagline:
---
<div class="row">
  <div class="span4 offset1">
<p>Provides information about platform status and running applications.
Technical monitoring is dedicated to the platform administrator whereas the business monitoring is dedicated to application developers.

<ul>
	<li>Technical monitoring: check and verify non-functional information of each PLAY platform component,</li>
	<li>Business monitoring: verify the behavior of the platform by sensing metrics and by ensuring contracts between clients and service providers.</li>
</ul>
</div>

 <div class="span2"><img height="180px" src="./img/busi-mon.png"></div>
 <div class="span2 offset1"><img height="200px" src="./img/tech-mon.png"></div>
</div>