---
layout: page
title: Event Recommendation
tagline:
---

<p>Event subscription recommender (ESR) addresses the challenge of enabling efficient active capability in large, distributed event infrastructures such as so-called ‘event marketplaces’ that PLAY project aims to maintain and manage. This software component provides dynamic recommendations of event streams to which a service should subscribe to, taking into account all the relevant situational information. Such a software service can be proven really valuable in the Internet of Things world where accessing the right event stream at the right time is really important. The burst of wireless sensors networks transmitting events paved the way for infrastructures that link uniquely identifiable things to their virtual representations in the Internet, but the choice of which of these event streams to follow, out of a plethora of existing ones is considered a critical challenge. </p>

<p>Specifically, ESR can recognize situations that may lead to recommendations about subscribing to relevant simple or complex events. Thus, ESR provides added value assistance to services that will have the choice to be subscribed to additional event sources at the “right time” (i.e. when really needed), reducing the cost and several aggravating traffic issues. In figure below, we present an example of ESR results in the Nuclear Crisis management use case of PLAY (as it was presented in deliverable D4.4). ESR accomplished to provide the most appropriate recommendations about radiation sensors to mobile teams (e.g. military, police etc.) while they were moving around in the affected areas. </p>

<center>
<img src="./img/esr.png"/>
</center>