---
layout: page
title: Platform Governance
tagline:
---

<div class="row">
  <div class="span4 offset1">

<p>Governance is the act of governing or administrating. It refers to all measures, rules, decision-making, information and enforcement that ensure the proper functioning and control. In PLAY, governance can be defined as a set of processes, rules, policies, mechanisms of control, enforcement policies, and best practices put in place throughout the life-cycle of services (from the design time to runtime stage), in order to ensure the successful achievement of the SOA implementation. Specifically, SOA governance is realized through a cycle consisting of policy definition, auditing & monitoring, and finally evaluation & validation.</p>

<p>
The functional and non-functional expected behavior of services is expressed through the specification of policies. Policies define the rules according to which systems must behave. More specifically, the concept of a policy has been introduced as representing some constraint or condition on describing, deploying, and using some service. When such constraints or conditions are agreed between two or more parties, they become a contract. Generally speaking, SOA policies can be distinguished between two main levels of governance: design time governance (e.g., code conventions, metadata compliance), and runtime governance (e.g., SLA). 

</p>	  
	  
<p>PLAY governance is the internal memory where knowledge about available services, rules and topics are stored. User profiles are also stored in order to be able to implement authentication and authorization.</p>
</div>

 <div class="span3 offset1">
<center>
<img src="./img/gov.png"/>
</center>
</div>
</div>