---
layout: page
title: Technical Monitoring
tagline:
---

<p>Provides information about platform status and running applications.
Technical monitoring is dedicated to the platform administrator whereas the business monitoring is dedicated to application developers.

<ul>
	<li>Technical monitoring: check and verify non-functional information of each PLAY platform component,</li>
	<li>Business monitoring: verify the behavior of the platform by sensing metrics and by ensuring contracts between clients and service providers.</li>
</ul>

<center>
<img src="./img/busi-mon.png" style="float:left;">
<img src="./img/tech-mon.png" style="float:left;">
</center>